$moreCream : #F9E6D1;
//NAVBAR
.navbar{
    background-color: $moreCream;
    .containers{
      padding: 20px 0px;
      display: flex;
      justify-content: space-between;
      margin-left: 10px;
      align-items: center;
      .logo{
        img{
        width: 120px;
      }
    }
    .links{
      display: flex;
      align-items: center;
      text-align: center;
      margin-right: 10px;
      margin-left: 10px;
      h5 {
        font-size: 16px;
        font-weight: 300px;
      }
      span {
        cursor: pointer;
      }
      img{
        width: 40px;
        cursor: pointer;
      }
    }
  }
}