.counter {
    display: flex;
    align-items: center;
  
    .counter-btn {
      appearance: none;
      background-color: #929090;
      border: none;
      border-radius: 5px;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 16px;
      height: 25px;
      width: 25px;
      margin: 0 5px;
      outline: none;
      transition: background-color 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
  
      &:hover {
        background-color: #333333;
      }
    }
  
    .counter-value {
      font-size: 16px;
      margin: 0 10px;
    }
  }
