/* header*/
.App-header {
	overflow: hidden;
}
.App-header h4 {
	float: left;
	text-align: center;
	padding: 12px;
}
.header-right {
	float: right;
}
/* grid */
.App-grid {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 16px;
	row-gap: 16px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.App-grid div {
	text-align: center;
}

